#not-a-selector{
    color:#ADAAAA;
    
}
*{ /* IDK why this doesn't affect my classes - perhaps my css reset has a higher specificity default font? */
    font-family: 'Roboto Mono', monospace;
    Font-weight: normal, 700;
}

body{
    height: 100vh;
    width: 100vw;
    background-color: #E1D7D4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;

}
#header-box{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 50px 0;
}
#main-header{
    font-family: 'Rubik', sans-serif;
    color: #E34E45;
    font-size: 3em;
    font-weight: 700;
    margin-top: 30px;
}
#sub-header{
    font-family: 'Rubik', sans-serif;
    font-size: 1.5em;
    font-weight: normal;
}
#table-box{
    display: flex;
    flex-direction: row;
    flex-basis: content;
    flex-grow: 0;
    flex-shrink: 1;
    padding: 20px;
    flex-wrap: wrap;
    background-color:  #EEE;
    justify-content: space-around;
    align-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    max-width: 450px;
}
.row{
    display: flex;
    flex-direction: row;
}
.circle{
    font-family: 'Roboto Mono', monospace;
    Font-weight: normal, 700;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #CCC;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #ADAAAA;
    margin: 10px;
}
#form{
    display: none; /* change display type to view popup window */
    /* display: flex; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: space-around;
    align-content: flex-start;
    background-color: white;
    box-shadow: 0px 0px 31px 1px rgba(0,0,0,0.3);
    min-width: 500px;
    height: 400px;
    padding: 30px;
    border-radius: 5px;
}
#form-main-header{
    font-family: 'Rubik', sans-serif;
    color: #E34E45;
    font-size: 2em;
    font-weight: 700;
}
#form-sub-header{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
}
.input{
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-size: 1.5em;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #CCC 1px;
    color: black
}
#name-input{

}
#phone-number-input{

}
#guest-number-input{

}
#save-button{
    color: white;
    background-color: #008000;
    box-shadow: 0px 5px 15px 1px rgba(0,0,0,0.3);
    height: 1.5em;
}
.available{
    background-color: #CCC;
    color: #ADAAAA;
}
.reserved{
    background-color: #ADAAAA;
    color: #CCC;
}